<ion-header>
  <ion-toolbar color="bancolombia" size="large">
    <ion-title color="bluebanco">Redireccionamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <app-imagen></app-imagen>
      </ion-col>
      <ion-col size="12" offset-lg="4" offset="1" class="ion-margin-top">
        <div class="ion-text-wrap">
          <ion-text color="bluebanco" style="margin-left: 43%;">
            <h5 >Puedes realizar tu servicio en los siguientes canales:</h5>
          </ion-text>
        </div>
      </ion-col>

      <ion-col size="10" offset="1">
        <ion-card >
          <ion-item> 
            <ion-icon name="business-outline" slot="start"></ion-icon>
            <ion-card-title class="title">Sucursal</ion-card-title>
            <ion-button  color="bluebanco"slot="end" routerLink="/map"><ion-icon name="navigate-outline"></ion-icon></ion-button>
          </ion-item>
          <ion-card-content>
            <ion-button color="bluebanco" routerLink="/confirmar">Generar QR<ion-icon name="qr-code-outline"></ion-icon></ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card >
          <ion-item>
            <ion-icon name="card-outline" slot="start"></ion-icon>
            <ion-card-title class="title">Corresponsal</ion-card-title>
            <ion-button color="bluebanco" slot="end" routerLink="/map"><ion-icon name="navigate-outline"></ion-icon></ion-button>
          </ion-item>
          <ion-card-content>
            <ion-button  color="bluebanco"routerLink="/confirmar">Generar QR<ion-icon name="qr-code-outline"></ion-icon></ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card class="margin"> 
          <ion-item>
            <ion-icon name="wallet-outline" slot="start"></ion-icon>
            <ion-card-title class="title">Cajero dispensador</ion-card-title>
            <ion-button  color="bluebanco" slot="end" routerLink="/map"><ion-icon name="navigate-outline"></ion-icon></ion-button>
          </ion-item>
        </ion-card>

        <ion-card class="margin">
          <ion-item>
            <ion-icon name="cash-outline" slot="start"></ion-icon>
            <ion-card-title class="title">Cajero multifuncional</ion-card-title>
            <ion-button color="bluebanco" slot="end" routerLink="/map"><ion-icon name="navigate-outline"></ion-icon></ion-button>
          </ion-item>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>