 .imagen1{
     width: 15%;
     margin-top: 20%;
     margin-left: 47%;
 }
        
  @media(min-width: 1000px) {
    .imagen1{
      width: 7%;
      margin-top: 5%;
      margin-left: 47%;
    }
  
  }