<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>

      <ion-col size="12">
        <app-imagen></app-imagen>
      </ion-col>
      <ion-col size="12">
        <ion-title color="bluebanco">Caja</ion-title>
      </ion-col>
      <ion-col size="12">
        <ion-item class="ion-margin-top">
          <ion-label color="bluebanco">Seleccione su opción</ion-label>
          <ion-select value="opciones" interface="action-sheet" cancel-text="Cancelar">
          
            <ion-select-option value="Recaudos" >Recaudos</ion-select-option>
            <ion-select-option value="Consignación">Consignación</ion-select-option>
            <ion-select-option value="Retiro">Retiro</ion-select-option>
            <ion-select-option value="Traslado de efectivo" >Traslado de efectivo</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12" offset="4">
        <ion-button routerLink="/consignacion" color="bluebanco" class="margin-button">
          Confirmar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>