.title{

    margin-top: 3%;
    font-size: x-large;
    margin-left: 3%;
    
}
.card{
    box-shadow: none !important;
}

@media(min-width: 1000px) {
    .title{
    
      margin-left: 5%;
    }
  
  }