.title{

    margin-top: 3%;
    font-size: x-large;
    margin-left: 3%;
    
}
.card{
    box-shadow: none !important;
}

.error-message {
    color: var(--ion-color-danger);
}

.mask-password {
    -webkit-text-security: disc;
    -moz-webkit-text-security: disc;
    -moz-text-security: disc;
}
