
<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>

      <ion-col size="12">
        <app-imagen></app-imagen>
      </ion-col>
      <ion-col size="12">
        <ion-title color="bluebanco" class="margin-label">Tipo de asesoría</ion-title>
      </ion-col>
      <ion-col size="12">
        <ion-item class="ion-margin-top">
          <ion-label color="bluebanco">Seleccione el tipo de asesoría</ion-label>
          <ion-select value="opciones" interface="action-sheet" cancel-text="Cancelar">
          
            <ion-select-option value="Apertura de cuentas" >Apertura de cuentas</ion-select-option>
            <ion-select-option value="Documentos">Documentos</ion-select-option>
            <ion-select-option value="Crédito de consumo">Crédito de consumo</ion-select-option>
            <ion-select-option value="Reexpedición de tarjeta débito">Reexpedición de tarjeta débito</ion-select-option>
            <ion-select-option value="Tarjeta de crédito">Tarjeta de crédito</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
     <ion-col size="12" offset="4">
        <ion-button routerLink="/asesoria" color="bluebanco" class="margin-button">
          Confirmar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>