<ion-header>
  <ion-toolbar color="bancolombia" size="large">
    <ion-title color="bluebanco">Confirmar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <app-imagen></app-imagen>
      </ion-col>
      <ion-col size="12" offset-lg="4" class="ion-margin-top">
        <div class="ion-text-wrap">
          <ion-text color="bluebanco" style="margin-left: 43%;">
            <h3>Presenta este código a tu asesor</h3>
          </ion-text>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-card *ngIf="qrResult">
          
          <ngx-qrcode  [value]="qrResult">
          </ngx-qrcode>
 
          <ion-card-content>
              Value: {{ qrResult}}
          </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>

    <ion-col size="12" offset="4">
      <ion-button routerLink="/" color="bluebanco" class="margin-button"> Volver </ion-button>
    </ion-col>
  </ion-grid>
</ion-content>